

/* CSS Reset */
*{
    margin:0;
    padding: 0;
}
/* CSS Variables  */
:root{
    --navbar-height:70px;
}

/* NNavigation Bar */
#navbar{
    display: flex;
    align-items: center;
}
/* Logo And Image */
#logo{
     padding-left: 20px;
} 
#logo img{
    height: 70px;
            
}
#navbar::before{
    content:"";
    background-color: black;
    position: absolute;
    height: 100%;
    width:100%;
    z-index:-1;
    opacity: 0.35;
}

/* List Styling */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    height: 70px;
    padding: 0 20px 0 0;
}
#navbar ul{
    display: flex;

}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    font-family: "Oswald", sans-serif;
}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
#navbar ul li a:hover{
    color:black;
    background-color: white;
}

/* Home section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 230px;
    /* position: relative;*/
    /* height: 100vh;  */
}
#home::before{
    content: "";
    background: url('img2.jpg') no-repeat center center/cover; /* cover full area */
    position: absolute;
    height: 55%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
    font-family: "Story Script", sans-serif;
    
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Oleo Script", system-ui;
}
/* service section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    background-color: rgb(238, 236, 236);
    border: 2px solid brown;
    padding :0px;
    margin:  1px 5px;
    border-radius: 23px;
}
#services .box img{
    /* width:350px ; */
    height: 200px;
    margin: auto;
    display: block;
    /* text-align: center; */
    padding: 10px;


}
#services .box-1{
    background-color: rgb(238, 236, 236);
    border: 2px solid brown;
    padding :0px;
    margin:  1px 5px;
    border-radius: 23px;
    position: relative;   /* keep normal flow */
    overflow: hidden; 
}
#services .box-1 img{
    width:300px ;
    height: 200px;
    margin: 0 auto;
    display: block;
    /* text-align: center; */
    padding: 10px;
    /* animation-name: Ridhima;
        animation-duration: 1s;
        animation-iteration-count:2 ;
        animation-fill-mode: alternate; 
        animation-timing-function: ease-in-out; */
        /* animation-delay: 3s; */
    animation: Ridhima 1s linear infinite ;
 
}
 @keyframes Ridhima{
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(calc(100%));
        }
    }
#services .box p{
    padding: 10px;
}
.services-container{
    margin-top: 90px;
}
#services .box p{
    font-family: "Oleo Script", system-ui
}
#client-section{
    /* height: 344px; */
    position: relative;
}
/* #client-section::before{
    content: "";
    position: absolute;
    background: url('food.jpg');
    width: 100%;
    height: 47%;
    z-index: -1;
    opacity: 0.4;
} */
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.client-item,
.client-item1 {
    padding: 0;  /* remove extra padding */
    
}
#clients img{
    height: 100px;
     /* object-fit: contain;
    display: block;
    position: relative;
    animation: circleMove 1s linear infinite;  */

}
/* @keyframes circleMove {
    0%   { transform: translate(0, 0); }
    25%  { transform: translate(10px, 0); }
    50%  { transform: translate(10px, 10px); }
    75%  { transform: translate(0, 10px); }
    100% { transform: translate(0, 0); }
} */

#clients .client-item1 img{
    height: 100px;
    object-fit: contain;
}
.client-item1{
    padding:10px ;
}
/* contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('img3.jpg')no-repeat center center/cover;
}
footer{
    background: black;
    color: white;
    padding: 5px 20px;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#conatck-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: "Oleo Script", system-ui
}
/* utility classes */
.h-primary{
    font-size: 3.8rem;
    padding: 10px;
    font-family: "Story Script", sans-serif;
}
.h-secondary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: "Story Script", sans-serif;
    font-size: 2.8rem;
}
.btn{
    font-family: "Oswald", sans-serif;
    padding: 5px 20px;
    margin: 17px;
    font-size: 1.2rem;
    border: 2px solid white;
    background-color: rgb(116, 8, 8);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}
